@charset "UTF-8";
/* Fuentes utilizadas en el proyecto */
@font-face {
  font-family: "anta";
  src: url(../fonts/Anta/Anta-Regular.ttf);
}
@font-face {
  font-family: "cantarell";
  src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}
/* Selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Se aplica font-family: "anta" a todo el proyecto. Con html {} lo pisaba Bootstrap */
  font-family: "anta";
}

/* Elimina el color predeterminado de los enlaces ya visitados */
a:visited {
  color: currentColor;
}

/* Estilos generales ------------------------------------------------------------------------------------------ */
/* Para resaltar el fondo de los links al pasar el ratón sobre ellos */
.highlight:hover {
  background-color: #ff8c00;
  transition: background-color 0.5s ease;
}

.detail {
  color: #ff8c00;
}

.bold {
  font-family: "cantarell";
  font-weight: bold;
}

/* Estilos de títulos de páginas */
.page-title {
  font-family: "anta";
  font-weight: bold;
  font-size: 1.5em;
  padding: 0px 0px 10px 30px;
  margin: 0;
}

/* Fuente para todas las etiquetas <p> */
p {
  font-family: "cantarell";
}

/* Media query para celulares */
@media only screen and (max-width: 480px) {
  .page-title {
    font-size: 1.2em;
    padding-left: 10px;
  }
}
/* Media query para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  .page-title {
    padding-left: 15px;
    font-size: 1.2em;
  }
}
/* Estilos de header ------------------------------------------------------------------------------------------ */
/* Altura para el header pre-establecida para evitar errores de visualización */
header {
  height: 100px;
}
header .navbar .container-fluid .navbar-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .container-fluid .navbar-title .logo {
  /* Tamaño del logo en Navbar (sólo desktop) */
  width: 100px;
}
header .navbar .container-fluid .navbar-title .title {
  /* Estilos para el título, pisando los asignados por Bootstrap */
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
header .navbar .container-fluid .navbar-title .mobile, header .navbar .container-fluid .navbar-title .tablet {
  /* Oculta el título de la página que sólo se verá en versiones mobile o tablet */
  display: none;
}
header .navbar .container-fluid .hamburger {
  /* Estilos para el menú hamburguesa que sólo será visible en tablet y mobile */
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-right: 15px;
}
header .navbar .container-fluid .collapsing {
  /* Estilos para el menú hamburguesa desplegable cuando está en transición */
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .container-fluid .show {
  /* Estilos para el menú hamburguesa cuando está visible */
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .container-fluid .navbar-links {
  justify-content: right;
}
header .navbar .container-fluid .navbar-links .navbar-nav .nav-item .nav-link {
  /* Separación y color de enlaces */
  color: black;
  margin: 0px 1rem;
}

/* Media query del header para celulares */
@media only screen and (max-width: 480px) {
  header {
    /* En Mobile el navbar se mostrará en tamaño más pequeño */
    height: 50px;
  }
  header .navbar .container-fluid .navbar-title {
    height: 50px;
    margin-left: 15px;
  }
  header .navbar .container-fluid .navbar-title .mobile {
    /* Toda etiqueta con la propiedad .mobile se hará visible */
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
  }
  header .navbar .container-fluid .navbar-title img {
    display: none;
  }
  header .navbar .container-fluid .navbar-title .title {
    display: none;
  }
  header .navbar .container-fluid .navbar-links {
    /* Centrado de los enlaces dentro del menú hamburguesa */
    justify-content: center;
    padding: 15px 0;
  }
  header .navbar .container-fluid .navbar-links .navbar-nav .nav-item {
    text-align: center;
    padding-top: 5px;
  }
}
/* Media query del header para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  header {
    /* En tablet el Navbar tendrá un tamaño mediano */
    height: 75px;
  }
  header .navbar .container-fluid .navbar-title .logo {
    height: 75px;
    width: 75px;
  }
  header .navbar .container-fluid .navbar-title .title {
    display: none;
  }
  header .navbar .container-fluid .navbar-title .tablet {
    /* Toda etiqueta con la propiedad .tablet se hará visible */
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
  }
  header .navbar .container-fluid .navbar-title .tablet p {
    font-family: "anta";
    line-height: 1;
  }
  header .navbar .container-fluid .navbar-links {
    /* Centrado de los enlaces dentro del menú hamburguesa */
    justify-content: center;
    padding: 15px 0;
  }
  header .navbar .container-fluid .navbar-links .navbar-nav .nav-item {
    text-align: center;
    padding-top: 5px;
  }
}
/* Estilos de footer ------------------------------------------------------------------------------------------ */
footer {
  background: linear-gradient(to bottom, white, #ff8c00);
}
footer .footer-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
footer .footer-container .fb {
  /* Posición del ícono de Facebook */
  text-align: right;
  grid-column: 4/5;
  grid-row: 1/2;
}
footer .footer-container .ig {
  /* Posición del ícono de Instagram */
  text-align: center;
  grid-column: 5/6;
  grid-row: 1/2;
}
footer .footer-container .in {
  /* Posición del ícono de LinkedIn */
  text-align: left;
  grid-column: 6/7;
  grid-row: 1/2;
}
footer .footer-container .contact {
  /* Posición del ícono de contacto */
  text-align: right;
  grid-column: 9/10;
  grid-row: 2/3;
  margin-right: 25px;
  margin-bottom: 25px;
}
footer .footer-container .copyright {
  /* Posición del copyright */
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;
  grid-column: 4/7;
  grid-row: 2/3;
}
footer .footer-container a .footer-social {
  /* Tamaño de los íconos de redes sociales */
  width: 30px;
}

.footer-social:hover {
  /* Efecto sobre los íconos de redes sociales al pasar el cursor sobre ellos */
  transform: scale(1.2);
  opacity: 0.8;
  transition: transform 0.3 ease;
}

/* Media query del footer para celulares */
@media only screen and (max-width: 480px) {
  footer .footer-container .fb {
    /* Asignación de posiciones de los elementos */
    grid-column: 3/4;
    grid-row: 1/2;
  }
  footer .footer-container .ig {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  footer .footer-container .in {
    grid-column: 7/8;
    grid-row: 1/2;
  }
  footer .footer-container .contact {
    display: none;
  }
  footer .footer-container .copyright {
    text-align: center;
    grid-column: 1/10;
    grid-row: 2/3;
    /* Fin de asignación de posiciones de los elementos */
  }
}
/* Media query del header para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  footer .footer-container .copyright {
    text-align: center;
    grid-column: 1/10;
    grid-row: 2/3;
  }
}
/* Estilos de páginas ----------------------------------------------------------------------------------------- */
/* index.html ................................................................................................. */
.photo-slide-container .carousel .carousel-inner .carousel-item img {
  /* Para que el carousel no cambie su tamaño al cambiar la imagen */
  height: 90vh;
  object-fit: cover;
}
.photo-slide-container .carousel .carousel-control-prev .carousel-control-prev-icon, .photo-slide-container .carousel .carousel-control-next .carousel-control-next-icon {
  /* Filtro para convertir los botones de "next" y "prev" en el color principal de la página */
  filter: invert(54%) sepia(41%) saturate(2128%) hue-rotate(0deg) brightness(103%) contrast(103%);
}

.services-container {
  /* Estilos de la caja contenedora de los servicios ofrecidos */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px 30px;
}
.services-container .services-item {
  /* Estilos de cada flex-item */
  text-align: center;
  padding: 15px 50px;
}
.services-container .services-item a .main-services {
  /* Estilos de las imágenes */
  width: 100%;
  height: 250px;
  /* Padding para utilizar :hover */
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.services-container .services-item h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.main-services:hover {
  background-color: #ff8c00;
  transition: background-color 0.5s ease;
}

/* Media query de index.html para celulares */
@media only screen and (max-width: 480px) {
  .services-container {
    margin: 25px 0;
  }
  .services-container .services-item {
    padding: 15px 25px;
  }
}
/* us.html .................................................................................................... */
/* Sección primera: imágenes */
/* Creación de grid que contendrá dos imágenes y dos cajas que se superpondrán entre sí */
.us-main-grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 30vh);
}
.us-main-grid-container .us-main-grid-item {
  /* Tamaño de imágenes 100% de alto y ancho */
  width: 100%;
  height: 100%;
}
.us-main-grid-container .us-main-photo-office {
  /* Ubicación de la foto principal */
  grid-column: 3/10;
  grid-row: 1/4;
  z-index: -1;
}
.us-main-grid-container .us-main-photo-office-bw {
  /* Ubicación de la foto B&W */
  grid-column: 1/6;
  grid-row: 1/3;
  z-index: -2;
  position: relative;
  top: 100px;
  opacity: 50%;
}
.us-main-grid-container .us-main-box {
  /* Ubicación de la caja contenedora de texto */
  grid-column: 2/5;
  grid-row: 2/3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.us-main-grid-container .us-main-box .us-main-box-quote {
  /* Estilos de la cita */
  font-family: "poppins";
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.5em;
  padding: 0 25px 0 10px;
}
.us-main-grid-container .us-main-box .us-main-box-sign {
  /* Estilos de la firma */
  font-family: "poppins";
  font-style: italic;
  color: #ff8c00;
  padding: 0 25px 0 10px;
}
.us-main-grid-container .us-main-box-blank {
  /* Ubicación y estilos de caja vacía */
  grid-column: 2/6;
  grid-row: 2/3;
  background-color: white;
  opacity: 25%;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: -1;
}

/* Sección segunda: objetivos */
.us-goals-container {
  /* Estilos de la caja contenedora de esta sección */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0;
}
.us-goals-container .us-goals-title {
  /* Estilos del título de esta sección */
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 25px;
}
.us-goals-container .us-goals-text {
  display: flex;
}
.us-goals-container .us-goals-text .us-goals-text-left, .us-goals-container .us-goals-text .us-goals-text-right {
  /* Estilos del texto de esta sección */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.us-goals-container .us-goals-text .us-goals-text-left {
  padding: 25px 25px 25px 100px;
  gap: 25px;
}
.us-goals-container .us-goals-text .us-goals-text-right {
  padding: 25px 100px 25px 25px;
}

/* Sección tercera: cita */
.us-message {
  text-align: center;
  font-family: "poppins";
  font-size: 2em;
  padding: 100px 250px;
  background-color: #ff8c00;
  color: white;
}
.us-message h5 {
  font-family: "poppins";
  font-style: italic;
  font-weight: bold;
  font-size: 0.83em;
  line-height: 1.5;
}

/* Sección cuarta: equipo */
/* Utilización de FlexBox */
/* Contenedor principal contiene title e info */
.us-team {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0;
}
.us-team .us-team-title {
  /* Estilos del título de equipo */
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 25px;
}
.us-team .us-team-info {
  /* Organización de los socios uno debajo del otro */
  display: flex;
  flex-direction: column;
}
.us-team .us-team-info .us-team-info-partner {
  /* Organización de la información de cada socio */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  /* Separación del centro */
  gap: 100px;
}
.us-team .us-team-info .us-team-info-partner .us-team-info-data {
  /* Estilos del texto descriptivo de cada socio */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.us-team .us-team-info .us-team-info-partner .us-team-info-data .us-team-info-data-name {
  /* Estilos del nombre y apellido */
  font-weight: bold;
  font-size: 1.5em;
}
.us-team .us-team-info .us-team-info-partner .us-team-info-data .us-team-info-data-work {
  /* Estilos de la información adicional */
  font-style: italic;
  font-size: 1em;
  color: #ff8c00;
}
.us-team .us-team-info .us-team-info-partner .us-team-info-photo {
  /* Estilos de las fotos de cada socio */
  display: flex;
  width: 50%;
}
.us-team .us-team-info .us-team-info-partner .us-team-info-photo img {
  /* Anchos y altos de imágenes */
  width: 160px;
  height: 160px;
  /* Borde redondeado */
  border-radius: 50%;
}

/* Sección quinta: foto final */
.us-final img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 100px;
}

/* Media query de us.html para celulares */
@media only screen and (max-width: 480px) {
  /* Sección primera */
  .us-main-grid-container {
    /* Cambio en disposición del grid */
    grid-template-rows: 1fr;
  }
  .us-main-grid-container .us-main-photo-office {
    /* Ubicación de la imagen principal */
    grid-column: 1/10;
    grid-row: 1/1;
  }
  .us-main-grid-container .us-main-photo-office-bw {
    /* Se ocultan los elementos secundarios */
    display: none;
  }
  .us-main-grid-container .us-main-box {
    display: none;
  }
  .us-main-grid-container .us-main-box-blank {
    display: none;
  }
  /* Sección segunda */
  .us-goals-container {
    /* Cambios para reducir espacios en blanco */
    margin: 25px 0;
  }
  .us-goals-container .us-goals-title {
    font-size: 1.2em;
    padding-bottom: 10px;
  }
  .us-goals-container .us-goals-text {
    /* El texto ahora se ubica uno debajo del otro */
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
  }
  .us-goals-container .us-goals-text .us-goals-text-left, .us-goals-container .us-goals-text .us-goals-text-right {
    width: 100%;
    padding: 0 20px;
    gap: 25px;
  }
  .us-goals-container .us-goals-text .us-goals-text-left p, .us-goals-container .us-goals-text .us-goals-text-right p {
    margin: 0;
  }
  /* Sección tercera: cita */
  .us-message {
    /* Cambios en los estilos de la cita para adaptarse a la pantalla */
    padding: 10px 50px;
    font-size: 1.5em;
  }
  /* Sección cuarta: equipo */
  .us-team {
    margin: 25px 0;
  }
  .us-team .us-team-title {
    font-size: 1.2em;
    padding-bottom: 10px;
  }
  .us-team .us-team-info {
    gap: 25px;
  }
  .us-team .us-team-info .us-team-info-partner {
    /* Ahora los flex items se ubican uno debajo del otro */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
  }
  .us-team .us-team-info .us-team-info-partner .us-team-info-data {
    /* Propiedad order para ubicar la foto por encima del texto */
    width: 100%;
    order: 2;
  }
  .us-team .us-team-info .us-team-info-partner .us-team-info-data p {
    text-align: center;
  }
  .us-team .us-team-info .us-team-info-partner .us-team-info-data .us-team-info-data-name {
    font-size: 1.2em;
  }
  .us-team .us-team-info .us-team-info-partner .us-team-info-photo {
    /* Centrado para evitar posiciones erróneas en diferentes pantallas */
    justify-content: center;
  }
  /* Sección quinta: foto final */
  .us-final img {
    height: 250px;
    margin-bottom: 25px;
  }
}
/* Media query de us.html para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  /* Sección primera */
  .us-main-grid-container .us-main-box {
    /* Asignación de ubicación para el recuadro blanco contenedor de texto */
    grid-column: 2/6;
  }
  .us-main-grid-container .us-main-box .us-main-box-quote {
    /* Cambio en el tamaño de fuente de la cita */
    font-size: 1.2em;
  }
  /* Sección segunda */
  .us-goals-container {
    /* Cambio en los márgenes para reducir espacios vacíos */
    margin: 50px 0 25px 0;
  }
  .us-goals-container .us-goals-text .us-goals-text-left, .us-goals-container .us-goals-text .us-goals-text-right {
    /* Cambio en padding para adaptar mejor el texto a la pantalla */
    padding: 25px;
  }
  /* Sección tercera */
  .us-message {
    /* Cambio de padding y tamaño de fuente para adaptar la cita a la pantalla */
    padding: 25px 75px;
    font-size: 1.5em;
  }
  /* Sección cuarta */
  .us-team {
    /* Cambio en los márgenes (y gap) para reducir espacios vacíos */
    margin: 50px 0 25px 0;
  }
  .us-team .us-team-info .us-team-info-partner {
    gap: 25px;
  }
  .us-final img {
    /* Cambio en altura de imagen y margen inferior para reducir espacios vacíos */
    height: 250px;
    margin-bottom: 25px;
  }
}
/* services.html .............................................................................................. */
/* Espaciado para los títulos de los servicios ofrecidos */
h3 {
  padding-bottom: 20px;
}

/* Se aplica Grid para organizar los distintos servicios */
/* Grid general contenedor de 3 grids más pequeños (1x3) */
.services-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* Espaciado entre los distintos servicios */
  row-gap: 100px;
  /* Margen superior */
  margin-top: 25px;
  /* Margen inferior */
  margin-bottom: 50px;
}
.services-grid-container .services-grid-ext, .services-grid-container .services-grid-int, .services-grid-container .services-grid-ges {
  /* Disposición de Grids más pequeños (6x4 c/u) */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 50vh;
}
.services-grid-container .services-grid-ext {
  /* Sub-grid para Diseño Exterior */
  grid-column: 1/2;
  grid-row: 1/2;
}
.services-grid-container .services-grid-ext .services-grid-ext-img {
  grid-column: 2/5;
  grid-row: 1/5;
}
.services-grid-container .services-grid-ext .services-grid-ext-img img {
  border: 3px solid #ff8c00;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border-right: none;
}
.services-grid-container .services-grid-ext .services-grid-ext-text {
  text-align: right;
  background-color: white;
  border-radius: 50px;
  opacity: 85%;
  grid-column: 4/6;
  grid-row: 2/4;
}
.services-grid-container .services-grid-ext .services-grid-ext-text h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.services-grid-container .services-grid-int {
  /* Sub-grid para Diseño Interior */
  grid-column: 1/2;
  grid-row: 2/3;
}
.services-grid-container .services-grid-int .services-grid-int-img {
  grid-column: 3/6;
  grid-row: 1/5;
}
.services-grid-container .services-grid-int .services-grid-int-img img {
  border: 3px solid #ff8c00;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border-left: none;
}
.services-grid-container .services-grid-int .services-grid-int-text {
  text-align: left;
  background-color: white;
  border-radius: 50px;
  opacity: 85%;
  grid-column: 2/4;
  grid-row: 2/4;
}
.services-grid-container .services-grid-int .services-grid-int-text h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.services-grid-container .services-grid-ges {
  /* Sub-grid para Gestión de Proyectos */
  grid-column: 1/2;
  grid-row: 3/4;
}
.services-grid-container .services-grid-ges .services-grid-ges-img {
  grid-column: 2/5;
  grid-row: 1/5;
}
.services-grid-container .services-grid-ges .services-grid-ges-img img {
  border: 3px solid #ff8c00;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border-right: none;
}
.services-grid-container .services-grid-ges .services-grid-ges-text {
  text-align: right;
  background-color: white;
  border-radius: 50px;
  opacity: 85%;
  grid-column: 4/6;
  grid-row: 2/4;
}
.services-grid-container .services-grid-ges .services-grid-ges-text h3 {
  font-size: 1.2em;
  font-weight: bold;
}

/* Media query de services.html para celulares */
@media only screen and (max-width: 480px) {
  .services-grid-container {
    /* Espaciado entre los distintos servicios */
    row-gap: 25px;
    /* Margen superior */
    margin-top: 0;
    /* Margen inferior */
    margin-bottom: 25px;
  }
  .services-grid-container .services-grid-ext .services-grid-ext-img, .services-grid-container .services-grid-ext .services-grid-int-img, .services-grid-container .services-grid-ext .services-grid-ges-img, .services-grid-container .services-grid-int .services-grid-ext-img, .services-grid-container .services-grid-int .services-grid-int-img, .services-grid-container .services-grid-int .services-grid-ges-img, .services-grid-container .services-grid-ges .services-grid-ext-img, .services-grid-container .services-grid-ges .services-grid-int-img, .services-grid-container .services-grid-ges .services-grid-ges-img {
    /* Nueva ubicación de las imágenes dentro de los subgrids */
    grid-column: 1/7;
    grid-row: 1/3;
  }
  .services-grid-container .services-grid-ext .services-grid-ext-img img, .services-grid-container .services-grid-ext .services-grid-int-img img, .services-grid-container .services-grid-ext .services-grid-ges-img img, .services-grid-container .services-grid-int .services-grid-ext-img img, .services-grid-container .services-grid-int .services-grid-int-img img, .services-grid-container .services-grid-int .services-grid-ges-img img, .services-grid-container .services-grid-ges .services-grid-ext-img img, .services-grid-container .services-grid-ges .services-grid-int-img img, .services-grid-container .services-grid-ges .services-grid-ges-img img {
    /* Ajuste de estilos para las imágenes dentro de Grid */
    padding-bottom: 10px;
    border: none;
    border-radius: 0;
  }
  .services-grid-container .services-grid-ext .services-grid-ext-text, .services-grid-container .services-grid-ext .services-grid-int-text, .services-grid-container .services-grid-ext .services-grid-ges-text, .services-grid-container .services-grid-int .services-grid-ext-text, .services-grid-container .services-grid-int .services-grid-int-text, .services-grid-container .services-grid-int .services-grid-ges-text, .services-grid-container .services-grid-ges .services-grid-ext-text, .services-grid-container .services-grid-ges .services-grid-int-text, .services-grid-container .services-grid-ges .services-grid-ges-text {
    /* Nueva ubicación de los textos dentro de los subgrids */
    font-size: 0.8em;
    grid-column: 1/7;
    grid-row: 3/5;
  }
  .services-grid-container .services-grid-ext .services-grid-ext-text, .services-grid-container .services-grid-ext .services-grid-ges-text, .services-grid-container .services-grid-int .services-grid-ext-text, .services-grid-container .services-grid-int .services-grid-ges-text, .services-grid-container .services-grid-ges .services-grid-ext-text, .services-grid-container .services-grid-ges .services-grid-ges-text {
    /* Espaciado para textos con alineación derecha */
    padding-right: 10px;
  }
  .services-grid-container .services-grid-ext .services-grid-int-text, .services-grid-container .services-grid-int .services-grid-int-text, .services-grid-container .services-grid-ges .services-grid-int-text {
    /* Espaciado para textos con alineación izquierda */
    padding-left: 10px;
  }
}
/* Media query de services.html para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  .services-grid-container .services-grid-ext, .services-grid-container .services-grid-int, .services-grid-container .services-grid-ges {
    grid-template-columns: 2% repeat(4, 24%) 2%;
  }
  .services-grid-container .services-grid-ext .services-grid-int-text, .services-grid-container .services-grid-ext .services-grid-ext-text, .services-grid-container .services-grid-ext .services-grid-ges-text, .services-grid-container .services-grid-int .services-grid-int-text, .services-grid-container .services-grid-int .services-grid-ext-text, .services-grid-container .services-grid-int .services-grid-ges-text, .services-grid-container .services-grid-ges .services-grid-int-text, .services-grid-container .services-grid-ges .services-grid-ext-text, .services-grid-container .services-grid-ges .services-grid-ges-text {
    padding-top: 5px;
    height: 110%;
  }
  .services-grid-container .services-grid-ext .services-grid-int-text h3, .services-grid-container .services-grid-ext .services-grid-ext-text h3, .services-grid-container .services-grid-ext .services-grid-ges-text h3, .services-grid-container .services-grid-int .services-grid-int-text h3, .services-grid-container .services-grid-int .services-grid-ext-text h3, .services-grid-container .services-grid-int .services-grid-ges-text h3, .services-grid-container .services-grid-ges .services-grid-int-text h3, .services-grid-container .services-grid-ges .services-grid-ext-text h3, .services-grid-container .services-grid-ges .services-grid-ges-text h3 {
    padding-bottom: 5px;
  }
  .services-grid-container .services-grid-ext .services-grid-int-text .services-text, .services-grid-container .services-grid-ext .services-grid-ext-text .services-text, .services-grid-container .services-grid-ext .services-grid-ges-text .services-text, .services-grid-container .services-grid-int .services-grid-int-text .services-text, .services-grid-container .services-grid-int .services-grid-ext-text .services-text, .services-grid-container .services-grid-int .services-grid-ges-text .services-text, .services-grid-container .services-grid-ges .services-grid-int-text .services-text, .services-grid-container .services-grid-ges .services-grid-ext-text .services-text, .services-grid-container .services-grid-ges .services-grid-ges-text .services-text {
    font-size: 0.9em;
  }
}
/* Media query de services.html para desktops pequeños */
@media screen and (max-width: 1150px) and (min-width: 992px) {
  .services-grid-container .services-grid-ext, .services-grid-container .services-grid-int, .services-grid-container .services-grid-ges {
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
  }
}
/* Desktops medianos utilizan los valores predeterminados */
/* Media query de services.html para desktops grandes */
@media screen and (min-width: 1501px) {
  .services-grid-container .services-grid-ext, .services-grid-container .services-grid-int, .services-grid-container .services-grid-ges {
    grid-template-columns: 2fr repeat(4, 1fr) 2fr;
  }
}
/* projects.html .............................................................................................. */
/* Grid para contener las imágenes de los proyectos */
.project-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 25px 50px;
}
.project-grid-container .project-grid-item {
  /* Ajuste del tamaño de las imágenes */
  width: 100%;
  height: 100%;
}
.project-grid-container .one {
  grid-column: 1/3;
  grid-row: 1/3;
}
.project-grid-container .two {
  grid-column: 3/4;
  grid-row: 1/2;
}
.project-grid-container .three {
  grid-column: 3/4;
  grid-row: 2/3;
}
.project-grid-container .four {
  grid-column: 1/2;
  grid-row: 3/4;
}
.project-grid-container .five {
  grid-column: 2/3;
  grid-row: 3/4;
}
.project-grid-container .six {
  grid-column: 3/4;
  grid-row: 3/4;
}
.project-grid-container .seven {
  grid-column: 2/4;
  grid-row: 4/6;
}
.project-grid-container .eight {
  grid-column: 1/2;
  grid-row: 5/6;
}
.project-grid-container .nine {
  grid-column: 1/2;
  grid-row: 4/5;
}

.project-grid-item:hover {
  /* Efecto de claridad y aumento de tamaño al pasar el cursor sobre las imágenes */
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Media query de projects.html para celulares */
@media only screen and (max-width: 480px) {
  .project-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 0 10px 25px 10px;
  }
  .project-grid-container .one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .project-grid-container .two {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .project-grid-container .three {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .project-grid-container .four {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .project-grid-container .five {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .project-grid-container .six {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .project-grid-container .seven {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .project-grid-container .eight {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .project-grid-container .nine {
    grid-column: 1/2;
    grid-row: 9/10;
  }
}
/* Media query de projects.html para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  .project-grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .project-grid-container .one {
    grid-column: 1/5;
    grid-row: 1/3;
  }
  .project-grid-container .two {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .project-grid-container .three {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .project-grid-container .four {
    grid-column: 1/5;
    grid-row: 4/6;
  }
  .project-grid-container .five {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .project-grid-container .six {
    grid-column: 3/5;
    grid-row: 6/7;
  }
  .project-grid-container .seven {
    grid-column: 1/5;
    grid-row: 7/9;
  }
  .project-grid-container .eight {
    grid-column: 1/3;
    grid-row: 9/10;
  }
  .project-grid-container .nine {
    grid-column: 3/5;
    grid-row: 9/10;
  }
}
/* contact.html ............................................................................................... */
/* Sección primera: información */
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.contact-info .contact-info-data {
  /* Estilos de la sección de información */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.contact-info .contact-info-data .contact-info-data-item {
  display: flex;
  text-align: right;
  gap: 25px;
  padding: 25px 0;
}
.contact-info .contact-info-map {
  /* Estilos de la sección del mapa */
  padding-right: 15%;
  text-align: left;
  width: 50%;
}

/* Sección segunda: formulario */
.contact-form {
  display: flex;
  margin: 100px 0;
  gap: 25px;
}
.contact-form .contact-form-photo {
  /* Cada contenedor se lleva el 50% del espacio */
  width: 50%;
  display: flex;
}
.contact-form .contact-form-photo img {
  /* La imagen ocupa el 100% de su contenedor */
  width: 100%;
}
.contact-form .contact-form-box {
  /* Cada contenedor se lleva el 50% del espacio */
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-form .contact-form-box .contact-form-box-title {
  /* Estilos de la caja contenedora del título del formulario */
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 25px;
}
.contact-form .contact-form-box .contact-form-box-text {
  /* Estilos de la caja contenedora de texto del form */
  text-align: center;
  font-family: "cantarell";
  padding-bottom: 25px;
}
.contact-form .contact-form-box .contact-form-box-form {
  /* Estilos de la caja contenedora del form en sí */
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}
.contact-form .contact-form-box .contact-form-box-form .contact-form-label {
  /* Separación de labels */
  padding: 5px 0;
}
.contact-form .contact-form-box .contact-form-box-form .contact-form-input input {
  /* Estilos de los campos de ingreso de datos */
  width: 100%;
  height: 2em;
  border: none;
  font-family: "cantarell";
  border-bottom: 1px solid #ff8c00;
}
.contact-form .contact-form-box .contact-form-box-form .contact-form-input textarea {
  /* Estilos del área de mensaje */
  width: 100%;
  font-family: "cantarell";
  border: none;
  border-bottom: 1px solid #ff8c00;
  /* Para que el usuario no modifique el tamaño del textarea */
  resize: none;
}
.contact-form .contact-form-box .contact-form-box-form .contact-form-button input {
  /* Estilos del botón enviar */
  width: 100%;
  border: none;
  padding: 5px 0;
  background-color: white;
  font-weight: bold;
  font-size: 1.1em;
}

/* Elimina el borde al hacer click en el input */
.contact-form-input input:focus {
  outline: none;
}

/* Elimina el borde al hacer click en el input */
.contact-form-input textarea:focus {
  outline: none;
}

/* Estilos :hover para el botón "enviar" */
.contact-form-button input:hover {
  color: #ff8c00;
}

/* Media query de contact.html para celulares */
@media only screen and (max-width: 480px) {
  /* Sección primera */
  .contact-info {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  .contact-info .contact-info-data {
    width: 100%;
    padding: 0 5%;
  }
  .contact-info .contact-info-map {
    width: 100%;
    padding-right: 0;
  }
  /* Sección segunda */
  .contact-form {
    margin: 25px 0;
  }
  .contact-form .contact-form-photo {
    display: none;
  }
  .contact-form .contact-form-box {
    width: 100%;
  }
  .contact-form .contact-form-box .contact-form-box-form {
    padding: 0 25px;
  }
}
/* Media query de contact.html para tablets */
@media only screen and (max-width: 991px) and (min-width: 481px) {
  .contact-form {
    margin: 50px 0;
  }
  .contact-form .contact-form-photo {
    display: none;
  }
  .contact-form .contact-form-box {
    width: 100%;
  }
}
/* Media query de contact.html para desktops pequeños */
@media screen and (max-width: 1024px) {
  .contact-form-photo {
    align-items: center;
  }
  .contact-form-photo img {
    height: 80%;
  }
}
/* Media query de contact.html para desktops medianos */
@media screen and (min-width: 1025px) and (max-width: 1275px) {
  .contact-form-photo {
    align-items: center;
  }
  .contact-form-photo img {
    height: 90%;
  }
}
/* success.html ............................................................................................... */
.success {
  /* Estilos de la caja contenedora principal */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 25%;
  position: absolute;
  top: 50px;
  border: 1px solid #ff8c00;
  box-shadow: 5px 5px 5px grey;
}
.success .success-logo img {
  width: 200px;
}
.success .success-item {
  /* Para mantener el texto centrado en todo tipo de pantallas */
  text-align: center;
  padding: 0 50px;
}
.success .success-item .success-redirect {
  color: #ff8c00;
}
.success h1 {
  /* Estilo de flex-item */
  font-size: 2em;
  margin-bottom: 25px;
}
.success h2 {
  /* Estilo de flex-item */
  font-size: 1.1em;
  font-family: "cantarell";
  margin-bottom: 25px;
}
.success p {
  /* Estilo de flex-item */
  font-size: 0.8em;
  margin-bottom: 10px;
}

/* Media query de success.html para celulares */
@media only screen and (max-width: 480px) {
  /* exito.html */
  .success {
    width: 90%;
    margin: 0 5%;
    border: 1px solid #ff8c00;
    box-shadow: 5px 5px 5px grey;
  }
  .success .success-logo img {
    width: 125px;
  }
  .success .success h1 {
    font-size: 1.5em;
  }
  .success .success h2 {
    font-size: 0.8em;
  }
  .success .success p {
    font-size: 0.6em;
  }
  .success .success p .success-redirect {
    color: #ff8c00;
  }
}

/*# sourceMappingURL=styles.css.map */
