/*-----------------------------------------------------------------*/
/* ESTILOS GENERALES ----------------------------------------------*/

/* Selector universal. Pre2 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Se aplica font-family: "anta" a todo el proyecto. Con html {} lo pisaba Bootstrap */
    font-family: "anta";
}

/* Para resaltar el fondo de los links al pasar el ratón sobre ellos */
.highlight:hover { /* Pre2: Se crea la clase "highlight" para excluir las etiquetas <a> del footer */
    background-color: #ff8c00;
    transition: background-color 0.5s ease;
}

/* Fuentes utilizadas en el proyecto */
@font-face {
    font-family: "anta";
    src: url(../fonts/Anta/Anta-Regular.ttf);
}
@font-face {
    font-family: "cantarell";
    src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}

/*-----------------------------------------------------------------*/
/* ESTILOS PARA BARRA DE NAVEGACIÓN -------------------------------*/


/* Altura para el header pre-establecida para evitar errores de visualización */
header {
    height: 100px;
}

/* Oculta el <h1> que se mostrará sólo en versiones mobile */
.mobile {
    display: none;
}

/* Oculta el menú hamburguesa que se mostrará sólo en mobile / tablet */
.hamburger {
    display: none;
}

.navBar-container {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Para asegurarse que el header siempre se mantenga visible */
    z-index: 2 !important; 
}

.navTitle {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex;
    /* Margin: 0 para pisar el valor que le asigna Bootstrap */
    margin: 0;
    /* Elimina viñetas en NavBar */
    list-style: none;
}

/* Tamaño del logo en NavBar */
.logo {
    width: 100px;
}

/* Estilos para el título, pisando los asignados por Bootstrap */
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

/* Elimina subrayado en enlaces de NavBar, establece separación y color */
.navLinks-items {
    font-size: 1em;
    color: black;
    text-decoration: none;
    margin: 0px 1rem;
}

/* Para evitar que los enlaces cambien de color luego de haber sido clickeados */
a:visited {
    color: black;
}

/*-----------------------------------------------------------------*/
/* ESTILOS PARA EL CUERPO DE LAS PÁGINAS ------------------------- */

/* Detalle en naranja para donde se necesite aplicar mediante etiqueta <span> */
.detail {
    color: #ff8c00;
}

.bold {
    font-family: "cantarell";
    font-weight: bold;
}

/* Espaciado para los títulos de las páginas */
.pageTitle {
    padding: 0px 0px 10px 30px;
}

/* Fuente para todas las etiquetas <p> */
p {
    font-family: "cantarell";
}

    /* index.html */
        /* Para que el carousel no cambie su tamaño según la imagen */
        .carousel-item img {
            height: 90vh;
            object-fit: cover;
        }

        .services-container { /* Atributos del Flex Container de index.html. Falta chequear comportamiento responsivo y márgenes */
            display: flex;
            /* Se eliminó justify-content: space-between para mantener centradas las imágenes durante el wrap. Se reemplazó con justify-content:center + padding: 0px 50px; */
            justify-content: center;
            flex-wrap: wrap;
            margin: 25px 50px;
        }

        .services-item {
            text-align: center;
            padding: 0px 50px;
        }

        /* Separación de la imagen respecto del texto */
        .services-item a img {
            /* Padding para utilizar :hover {transition} */
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        /* Efecto que "subraya" las imágenes cuando pasa el mouse sobre ellas */
        .services-item img:hover {
            background-color: #ff8c00;
            transition: background-color 0.5s ease;
        }

        /* Estilos del texto que se encuentra debajo de las imágenes de los servicios ofrecidos */
        .services-item h2 {
            font-size: 1.5em;
            font-weight: bold;
            margin: 0;
        }

    /* nosotros.html */
        /* Sección primera: imágenes */
            /* Creación de grid que contendrá dos imágenes y dos cajas que se superpondrán entre sí */
            .us-main-grid-container {
                display: grid;
                grid-template-columns: repeat(9,1fr);
                grid-template-rows: repeat(3,30vh);
            }

            /* Asignación de tamaño para las imágenes */
            .us-main-grid-item {
                width: 100%;
                height: 100%;
            }

            /* Asignación de ubicación de la foto principal */
            .us-main-photo-office {
                grid-column: 3/10;
                grid-row: 1/4;
                z-index: -1;
            }

            /* Asignación de ubicación de la foto en B&W */
            .us-main-photo-office-bw {
                grid-column: 1/6;
                grid-row: 1/3;
                z-index: -2;
                position: relative;
                top: 100px;
                opacity: 50%;
            }

            /* Asignación de ubicación de la caja contenedora de texto */
            .us-main-box {
                grid-column: 2/5;
                grid-row: 2/3;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            /* Estilos de la cita */
            .us-main-box-quote {
                font-family: "poppins";
                font-style: italic;
                font-size: 1.5em;
                padding: 0 25px 0 10px;
            }

            /* Estilos de la firma */
            .us-main-box-sign {
                font-family: "poppins";
                font-style: italic;
                color: #ff8c00;
                padding: 0 25px 0 10px;
            }

            /* Ubicación y estilos de la caja vacía */
            .us-main-box-blank {
                grid-column: 2/6;
                grid-row: 2/3;
                background-color: white;
                opacity: 25%;
                position: relative;
                top: 50px;
                left: 50px;
                z-index: -1;
            }

            /* Falta aplicar media queries para los distintos tamaños de desktop */
        
        /* Sección segunda: objetivos */
            .us-goals-container {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 100px 0;
            }

            .us-goals-title {
                text-align: center;
                font-size: 1.5em;
                padding-bottom: 25px;
            }

            .us-goals-text {
                display: flex;
            }

            .us-goals-text-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 25px;
                padding: 25px 25px 25px 100px;
            }

            .us-goals-text-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 25px 100px 25px 25px;
            }

            /* Falta aplicar media queries para los distintos tamaños de desktop */

        /* Sección tercera: cita */
            .us-message {
                text-align: center;
                font-family: "poppins";
                font-size: 2em;
                padding: 100px 250px;
                background-color: #ff8c00;
                color: white;
            }

            .us-message h5 {
                font-family: "poppins";
                font-style: italic;
            }

        /* Sección cuarta: equipo */
        /* Utilización de FlexBox */
            /* Contenedor principal contiene title e info */
            .us-team {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 100px 0;
            }

            /* Estilos del título de objetivos */
            .us-team-title {
                text-align: center;
                font-size: 1.5em;
                padding-bottom: 25px;
            }

            /* Organización de los socios uno debajo del otro */
            .us-team-info {
                display: flex;
                flex-direction: column;
            }

            /* Organización de la información de cada socio */
            .us-team-info-partner {
                display: flex;
                justify-content: center;
                margin: 25px 0;
                /* Separación del centro */
                gap: 100px;
            }

            /* Estilos del texto descriptivo de cada socio */
            .us-team-info-data {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: right;
            }

            /* Estilos del nombre y apellido */
            .us-team-info-data-name {
                font-weight: bold;
                font-size: 1.5em;
            }

            /* Estilos de la información suplementaria */
            .us-team-info-data-work {
                font-style: italic;
                font-size: 1em;
                color: #ff8c00;
            }

            /* Estilos de las fotos de cada socio */
            .us-team-info-photo {
                display: flex;
                width: 50%;
            }

            /* Estilos de imágenes de socios */
            .us-team-info-photo img {
                /* Anchos y altos de imágenes */
                width: 160px;
                height: 160px;
                /* Borde redondeado */
                border-radius: 50%;
            }

        /* Sección quinta: foto final */
        .us-final img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            margin-bottom: 100px;
        }

    /* servicios.html */
        /* Espaciado para los títulos de los servicios ofrecidos */
        h3 {
            padding-bottom: 20px;
        }

        /* Se aplica Grid para organizar los distintos servicios */
        /* Grid general contenedor de 3 grids más pequeños (1x3) */
        .servicesGrid-container {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);
            /* Espaciado entre los distintos servicios */
            row-gap: 100px;
            /* Margen superior */
            margin-top: 25px;
            /* Margen inferior */
            margin-bottom: 50px;
        }

        /* Disposición de Grids más pequeños (6x4 c/u) */
        .servicesGrid-Ext, .servicesGrid-Int, .servicesGrid-Ges {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(4,1fr);
        }

        /* Media query para mantener el aspecto en desktop grandes */
        @media screen and (min-width:1501px) {
            .servicesGrid-Ext, .servicesGrid-Int, .servicesGrid-Ges {
                grid-template-columns: 2fr repeat(4,1fr) 2fr;
            }
        }

        /* Media query para mantener el aspecto en desktop pequeños */
        @media screen and (max-width:1024px) {
            .servicesGrid-Ext, .servicesGrid-Int, .servicesGrid-Ges {
                grid-template-columns: 0.5fr repeat(4,1fr) 0.5fr;
            }
        }

            /* Sub-grid para Diseño Exterior */
            .servicesGrid-Ext {
                height: 50vh;
                grid-column: 1/2;
                grid-row: 1/2;
            }

            /* Sub-grid para Diseño Interior */
            .servicesGrid-Int {
                height: 50vh;
                grid-column: 1/2;
                grid-row: 2/3;
            }

            /* Sub-grid para Gestión de Proyectos */
            .servicesGrid-Ges {
                height: 50vh;
                grid-column: 1/2;
                grid-row: 3/4;
            }

        /* Ajuste de estilos para las imágenes dentro de Grid */
        .servicesGrid-Ext-img img {
            height: 100%;
            width: 100%;
            border: 3px solid #ff8c00;
            border-radius: 100px;
            border-right: none;
        }

        .servicesGrid-Int-img img {
            height: 100%;
            width: 100%;
            border: 3px solid #ff8c00;
            border-radius: 100px;
            border-left: none;
        }

        .servicesGrid-Ges-img img {
            height: 100%;
            width: 100%;
            border: 3px solid #ff8c00;
            border-radius: 100px;
            border-right: none;
        }

        /* Ubicación de Diseño Exterior */
        .servicesGrid-Ext-img {
            grid-column: 2/5;
            grid-row: 1/5;
        }

        .servicesGrid-Ext-text {
            text-align: right;
            background-color: white;
            border-radius: 50px;
            opacity: 85%;
            grid-column: 4/6;
            grid-row: 2/4;
        }
        /* Fin de ubicación de Diseño Exterior */

        /* Ubicación de Diseño Interior */
        .servicesGrid-Int-img {
            grid-column: 3/6;
            grid-row: 1/5;
        }

        .servicesGrid-Int-text {
            text-align: left;
            background-color: white;
            border-radius: 50px;
            opacity: 85%;
            grid-column: 2/4;
            grid-row: 2/4;
        }
        /* Fin de ubicación de Diseño Interior */

        /* Ubicación de Gestión de Proyectos */
        .servicesGrid-Ges-img {
            grid-column: 2/5;
            grid-row: 1/5;
        }

        .servicesGrid-Ges-text {
            text-align: right;
            background-color: white;
            border-radius: 50px;
            opacity: 85%;
            grid-column: 4/6;
            grid-row: 2/4;
        }
        /* Fin de ubicación de Gestión de Proyectos */

    /* proyectos.html */
        /* Grid para contener las imágenes de los proyectos */
        .project-grid-container {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(5,1fr);
            gap: 10px;
            padding: 25px 50px;
        }

        /* Ajuste del tamaño de las imágenes */
        .project-grid-item {
            width: 100%;
            height: 100%;
        }

        /* Efecto de claridad y aumento de tamaño al pasar el mouse por sobre las imágenes */
        .project-grid-item:hover {
            opacity: 0.8;
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }

        /* Asignación de posiciones para las imágenes */
        .one {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        .two {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .three {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .four {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .five {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .six {
            grid-column: 3/4;
            grid-row: 3/4;
        }

        .seven {
            grid-column: 2/4;
            grid-row: 4/6;
        }

        .eight {
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .nine {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        /* Fin de asignación de ubicación para las imágenes */

    /* contacto.html */
        /* Sección primera: información */
            .contact-info {
                display: flex;
                text-align: center;
                gap: 25px;
            }

                .contact-info-data {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                }

                    .contact-info-data-item {
                        display: flex;
                        gap: 25px;
                        padding: 25px 0;
                    }

                .contact-info-map {
                    text-align: left;
                    width: 50%;
                }

        /* Sección segunda: formulario */
            .contact-form {
                display: flex;
                margin: 100px 0;
                gap: 25px;
            }

                .contact-form-photo {
                    /* Cada contenedor se lleva el 50% del espacio */
                    width: 50%;
                    display: flex;
                    /* align-items: center; */
                }

                    .contact-form-photo img {
                        /* La imagen se lleva el 100% de su contenedor */
                        width: 100%;
                    }

                .contact-form-box {
                    /* Cada contenedor se lleva el 50% del espacio */
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                }

                    .contact-form-box-title {
                        text-align: center;
                        font-size: 1.3em;
                        padding-bottom: 25px;
                    }

                    .contact-form-box-text {
                        text-align: center;
                        font-family: "cantarell";
                        padding-bottom: 25px;
                    }

                    .contact-form-box-form {
                        display: flex;
                        flex-direction: column;
                        padding: 0 25%;
                    }

                        .contact-form-label {
                            padding: 5px 0;
                        }

                        .contact-form-input input {
                            width: 100%;
                            height: 2em;
                            border: none;
                            border-bottom: 1px solid #ff8c00;
                        }

                            .contact-form-input input:focus {
                                outline: none;
                            }

                        .contact-form-input textarea {
                            width: 100%;
                            font-family: "cantarell";
                            border: none;
                            border-bottom: 1px solid #ff8c00;
                        }

                            .contact-form-input textarea:focus {
                                outline: none;
                            }

                        .contact-form-button input {
                            width: 100%;
                            font-family: "cantarell";
                            border: none;
                            padding: 5px 0;
                            background-color: white;
                            font-weight: bold;
                            font-size: 1em;
                            cursor: pointer;
                        }

                            .contact-form-button input:hover {
                                color: #ff8c00;
                            }



/*-----------------------------------------------------------------*/
/* ESTILOS PARA EL FOOTER ---------------------------------------- */

/* Color degradado del footer */
footer {
    background: linear-gradient(to bottom,#ffffff,#ff8c00); 
}

/* Display: grid para organizar los elementos del footer */
.footer-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,1fr);
}

/* Asignación de posiciones de los elementos */
.fb {
    text-align: right;
    grid-column: 4/5;
    grid-row: 1/2;
}

.ig {
    text-align: center;
    grid-column: 5/6;
    grid-row: 1/2;
}

.in {
    text-align: left;
    grid-column: 6/7;
    grid-row: 1/2;
}

.contact {
    text-align: right;
    grid-column: 9/10;
    grid-row: 2/3;
    /* Espaciado del borde inferior derecho */
    margin-right: 25px;
    margin-bottom: 25px;
}

.copyright {
    text-align: center;
    grid-column: 4/7;
    grid-row: 2/3;
}
/* Fin de asignación de posiciones de los elementos */

/* Tamaño de los íconos de redes sociales */
.footer-social {
    width: 30px;
}

/* Efecto sobre los íconos de redes sociales al pasar el cursor sobre ellos */
.footer-social:hover {
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.3 ease;
}

.copyright {
    font-size: 11px;
    margin-bottom: 0;
}

/*-----------------------------------------------------------------*/
/* ESTILOS PARA LAS IMÁGENES --------------------------------------*/

/* index.html */
    /* Servicios */
        .main-services {
            width: 100%;
            height: 250px; /* Altura limitada a 200px. Falta chequear comportamiento responsive */
        }

/* servicios.html */
    .serv {
        width: 500px;
    }

/*-----------------------------------------------------------------*/
/* MEDIA QUERIES | CELULARES --------------------------------------*/

@media only screen and (max-width:480px) {

    /* BARRA DE NAVEGACIÓN */
    header {
        height: 50px;
    }
    
    .navBar-container img {
        display: none;
    }
    
    .title {
        display: none;
    }

    nav ul li a {
        display: none;
    }

    .navBar-container {
        height: 50px;
    }

    .mobile {
        display: block;
        margin-left: 25px;
    }

    .hamburger {
        color: black;
        display: flex;
        align-items: center;
        margin: 10px 15px 5px 10px;
        padding: 0px 20px;
        border-radius: 8px;
        cursor: pointer; /* Podría eliminarse al no haber puntero en celulares */
    }

    .hamburger p {
        font-weight: bolder;
    }

    /* CUERPO DE LAS PÁGINAS */

        /* proyectos.html */
        .project-grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9,1fr);
            padding: 0 10px;
        }

        .one {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .two {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .three {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .four {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .five {
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .six {
            grid-column: 1/2;
            grid-row: 6/7;
        }

        .seven {
            grid-column: 1/2;
            grid-row: 7/8;
        }

        .eight {
            grid-column: 1/2;
            grid-row: 8/9;
        }

        .nine {
            grid-column: 1/2;
            grid-row: 9/10;
        }
}

/*-----------------------------------------------------------------*/
/* MEDIA QUERIES | TABLETS   --------------------------------------*/

@media only screen and (max-width:855px) and (min-width:481px) {
/* 855px es el ancho mínimo que soporta la NavBar manteniendo todos los links visibles */

    /* BARRA DE NAVEGACIÓN */
    header {
        height: 75px;
    }
    
    .navBar-container {
        height: 75px;
    }

    .navBar-container img {
        height: 75px;
        width: 75px;
        margin: 0 10px;
    }

    nav ul li a {
        display: none;
    }

    .hamburger {
        color: #ff8c00;
        display: flex;
        align-items: center;
        margin: 10px 15px;
        padding: 0px 20px;
        border-radius: 8px;
        cursor: pointer; /* Podría eliminarse al no haber puntero en tablets */
    }

    .hamburger p {
        font-weight: bolder;
    }

    /* CUERPO DE LAS PÁGINAS */

        /* proyectos.html */
        .project-grid-container {
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(9,1fr);
        }

        .one {
            grid-column: 1/5;
            grid-row: 1/3;
        }

        .two {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        .three {
            grid-column: 3/5;
            grid-row: 3/4;
        }

        .four {
            grid-column: 1/5;
            grid-row: 4/6;
        }

        .five {
            grid-column: 1/3;
            grid-row: 6/7;
        }

        .six {
            grid-column: 3/5;
            grid-row: 6/7;
        }

        .seven {
            grid-column: 1/5;
            grid-row: 7/9;
        }

        .eight {
            grid-column: 1/3;
            grid-row: 9/10;
        }

        .nine {
            grid-column: 3/5;
            grid-row: 9/10;
        }
}