// Import de variables con paleta de colores
@import "../abstracts/variables";
// Import de mixins
@import "../abstracts/mixins";

/* services.html .............................................................................................. */

.services-ext, .services-int, .services-ges {
    @include flex;
    padding: 50px 10%; /* Espaciado respecto de los laterales y entre los distintos servicios */

    .services-ext-img, .services-int-img, .services-ges-img {
        /* Estilos generales para todas las imágenes */
        @include flex;
        width: 50%; /* Ancho del contenedor */
        z-index: -1; /* Posiciona las imágenes por detrás de los textos */
        position: relative; /* Para aplicar left/right según corresponda */
        img {
            @include services-img-deco;
        }
    }

    .services-ext-img, .services-ges-img {
        /* Estilos sólo para las imágenes primera y tercera (Exterior y Gestión) */
        left: 10%;
        img {
            border-right: none; /* Borde derecho eliminado */
        }
    }

    .services-int-img {
        /* Estilos sólo para imagen segunda (Interior) */
        right: 10%;
        img {
            border-left: none; /* Borde izquierdo eliminado */
        }
    }

    .services-ext-text, .services-int-text, .services-ges-text {
        /* Estilos generales para todas las cajas de texto */
        @include flex-col;
        justify-content: center;
        width: 50%; /* Ancho del contenedor */
        height: 200px;
        position: relative; /* Para aplicar left/right según corresponda */
        @include services-text-deco;
        h4 {
            /* Estilos de títulos de cada servicio */
            @include services-subtitles;
        }
    }

    .services-ext-text, .services-ges-text {
        /* Estilos sólo para los textos de Exterior y Gestión */
        text-align: right;
        right: 10%;
    }

    .services-int-text {
        /* Estilos sólo para los textos de Interior */
        text-align: left;
        left: 10%;
    }
}

// Media queries /////////////////////////////////////////////////////////////////////////////////////////////////
/* Media query de services.html para celulares y tablets pequeñas */

@media only screen and (max-width:674px) {
    .services-ext, .services-int, .services-ges {
        @include flex-col;
        padding: 50px 10px; /* Nuevo espaciado lateral */

        .services-ext-img, .services-int-img, .services-ges-img {
            width: 100%; /* Ancho del contenedor */
            position: static; /* Elimina position:relative */

            img {
                border: none; /* Elimina bordes de las imágenes */
                border-radius: 0;
                width: 100%; /* Ancho de las imágenes dentro de sus contenedores */
            }
        }

        .services-int-img {
            order: 1; /* Ubica a la imagen por arriba del texto */
        }

        .services-ext-text, .services-int-text, .services-ges-text {
            width: 100%; /* Ancho del contenedor */
            position: static; /* Elimina position:relative */
            height: auto;
            padding-top: 10px;
        }

        .services-int-text {
            order: 2; /* Ubica al texto por debajo de la imagen */
        }
    }
}

/* Media query para tablets grandes */

@media only screen and (min-width:675px) and (max-width:991px) {

    .services-ext, .services-int, .services-ges {
        scale: 0.9;
        padding: 25px 10px; /* Nuevo espacio lateral y entre los distintos servicios */

        .services-ext-img, .services-ges-img {
            /* Nueva separación de las imágenes primera y tercera (Exterior y Gestión) */
            left: 20%;
        }

        .services-int-img {
            /* Nueva separación de la imagen segunda (Interior) */
            right: 20%;
        }

        .services-ext-text, .services-int-text, .services-ges-text {
            height: 250px; /* Nueva altura del contenedor de texto */
        }

        .services-ext-text, .services-ges-text {
            /* Nueva separación de los contenedores texto Exterior y Gestión */
            right: 0;
        }

        .services-int-text {
            /* Nueva separación del contenedor texto Interior */
            left: 0;
        }
    }
}

/* Media query para desktops grandes */

@media only screen and (min-width:1400px) {
    .services-ext, .services-int, .services-ges {
        margin: 0 10%;
    }
}
