/* Fuentes utilizadas en el proyecto */
@font-face {
    font-family: "anta";
    src: url(../fonts/Anta/Anta-Regular.ttf);
}
@font-face {
    font-family: "cantarell";
    src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}